comp 354/tests/resources/PERSON_DTD_SCHEMA.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<!ELEMENT person ((identifier, fname, lname, jobtitle, jobdescription, clearance))>
<!ELEMENT people ((person+))>
<!ELEMENT lname (#PCDATA)>
<!ELEMENT jobtitle (#PCDATA)>
<!ELEMENT jobdescription (#PCDATA)>
<!ELEMENT identifier (#PCDATA)>
<!ELEMENT fname (#PCDATA)>
<!ELEMENT clearance (#PCDATA)>
