comp 354/tests/resources/SUBTASK_DTD_SCHEMA.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<!ELEMENT title (#PCDATA)>
<!ELEMENT subtasks ((subtask+))>
<!ELEMENT subtask ((identifier, parentid, priority, title, duration, description, peopleassigned))>
<!ELEMENT priority (#PCDATA)>
<!ELEMENT peopleassigned ((id+))>
<!ELEMENT parentid (#PCDATA)>
<!ELEMENT identifier (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT description (#PCDATA)>
