Files and Test/tests/resources/TASK_DTD_SCHEMA.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<!ELEMENT title (#PCDATA)>
<!ELEMENT tasks ((task+))>
<!ELEMENT task ((identifier, title, description, duration, deliverable, deadline, personassigned, completion, subtask))>
<!ELEMENT subtask EMPTY>
<!ELEMENT personassigned (#PCDATA)>
<!ELEMENT identifier (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT deliverable (#PCDATA)>
<!ELEMENT deadline (#PCDATA)>
<!ELEMENT completion (#PCDATA)>